@use "../util/" as u;

// %widget {
//   margin: 0.5rem;
//   padding: 1rem;
// }

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 40px;
  // max-width: 1000px;
  // margin: 0 auto 40px;
  width: min(100% - 40px, 1000px);
  margin-inline: auto;

  @include u.breakpoint(large) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }

  &__main {
    padding: 1rem;
  }

  &__main {
    background-color: rgb(0, 125, 174);

    @include u.breakpoint(medium) {
      background-color: hsl(120, 100%, 15%);
    }

    @include u.breakpoint(large) {
      background-color: hsl(39, 100%, 40%);
    }
  }

  &__sidebar {
    @include u.breakpoint-down(small) {
      text-align: center;
    }
  }
  &__widget {
    // $widget: &;
    margin: 0.5rem;
    padding: 1rem;

    &--megenta {
      // @extend %widget;
      background-color: hsl(300, 93%, 36%);
    }

    &--green {
      // @extend .grid__widget;
      // @extend #{$widget};
      // @extend %widget;
      background: hsl(120, 100%, 29%);
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
