@use "../util" as u;
// @use "../util" as *;

html {
  box-sizing: border-box;
  font-size: 100%; //tarayicinin metin boyutuna gore kendini ayarlar.
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: u.$font;
  // font-family: $font;
  background-color: var(--background-color);
  color: var(--text-color);
}
